flows.json
[{"id":"11ed2a1.6b24fd6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"adaf74de.2811a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9d949c62.ad443","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"69080eb2.fef45","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f3591a0f.988bf8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"82c95c31.ad41d","type":"mqtt-broker","z":"","name":"noderedmqttgiochi","broker":"192.168.1.102","port":"1883","clientid":"troppo","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"96d957ce.fb78d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":15,"sy":40,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"836ef32f.7a77","type":"ui_tab","z":"","name":"home","icon":"input","order":1,"disabled":false,"hidden":false},{"id":"b4afed42.7bd6c","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"cd0461f5.bdc44","type":"ui_group","z":"","name":"Group 1","tab":"10a70fef.7e9b6","order":1,"disp":false,"width":8,"collapse":false},{"id":"ecd3cf2b.042b2","type":"ui_group","z":"","name":"Group 2","tab":"10a70fef.7e9b6","order":2,"disp":false,"width":10,"collapse":false},{"id":"b1169f21.d12bb","type":"ui_group","z":"","name":"Group 3","tab":"10a70fef.7e9b6","order":3,"disp":false,"width":10,"collapse":false},{"id":"56f64217.0f835c","type":"ui_group","z":"","name":"Group 4","tab":"10a70fef.7e9b6","order":4,"disp":false,"width":3,"collapse":false},{"id":"10a70fef.7e9b6","type":"ui_tab","z":"","name":"telecomando","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"abc7e7db.814a28","type":"ui_group","z":"","name":"Group 5","tab":"10a70fef.7e9b6","order":5,"disp":false,"width":"3","collapse":false},{"id":"e9948aa5.fee988","type":"ui_group","z":"","name":"Group 6","tab":"10a70fef.7e9b6","order":6,"disp":false,"width":"3","collapse":false},{"id":"7c9c307e.225bf","type":"ui_group","z":"","name":"Group 7","tab":"10a70fef.7e9b6","order":7,"disp":false,"width":"3","collapse":false},{"id":"5b4c659d.2ddf4c","type":"ui_group","z":"","name":"Group 8","tab":"10a70fef.7e9b6","order":8,"disp":false,"width":"3","collapse":false},{"id":"6a8fa49b.55355c","type":"ui_group","z":"","name":"Group 10","tab":"10a70fef.7e9b6","order":9,"disp":false,"width":3,"collapse":false},{"id":"8497a56b.246178","type":"ui_group","z":"","name":"Group 11","tab":"10a70fef.7e9b6","order":10,"disp":false,"width":3,"collapse":false},{"id":"7e45eb21.3cf604","type":"ui_group","z":"","name":"Group 12","tab":"10a70fef.7e9b6","order":11,"disp":false,"width":3,"collapse":false},{"id":"f0c12014.35653","type":"ui_group","z":"","name":"inserire numero pulsanti","tab":"836ef32f.7a77","order":1,"disp":true,"width":18,"collapse":false},{"id":"9d5ab428.1f1618","type":"ui_tab","z":"","name":"gioco delle forme","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"c229695f.a36d98","type":"ui_group","z":"","name":"GIOCO DELLE FORME","tab":"9d5ab428.1f1618","order":1,"disp":false,"width":"10","collapse":false},{"id":"729fd05c.65a58","type":"webhookrelay","z":"11ed2a1.6b24fd6","buckets":"troppobello","x":83,"y":47,"wires":[["efeba2be.ca9c5"]]},{"id":"efeba2be.ca9c5","type":"function","z":"11ed2a1.6b24fd6","name":"","func":"\nreturn  {\n    payload: msg.payload.body\n};","outputs":1,"noerr":0,"x":254,"y":50,"wires":[["bfcef045.b5c95"]]},{"id":"bfcef045.b5c95","type":"json","z":"11ed2a1.6b24fd6","name":"","property":"payload","action":"","pretty":false,"x":404,"y":53,"wires":[["91b1ab3.73a5c58"]]},{"id":"91b1ab3.73a5c58","type":"mqtt out","z":"11ed2a1.6b24fd6","name":"giochi","topic":"prova/tvon","qos":"0","retain":"false","broker":"82c95c31.ad41d","x":92,"y":141,"wires":[]},{"id":"a549979.f7fd268","type":"webhookrelay","z":"11ed2a1.6b24fd6","buckets":"troppobrutto","x":83,"y":213,"wires":[["2faec25a.92d19e"]]},{"id":"2faec25a.92d19e","type":"function","z":"11ed2a1.6b24fd6","name":"","func":"\nreturn  {\n    payload: msg.payload.body\n};","outputs":1,"noerr":0,"x":247,"y":212,"wires":[["422e4cd0.65dbe4"]]},{"id":"422e4cd0.65dbe4","type":"json","z":"11ed2a1.6b24fd6","name":"","property":"payload","action":"","pretty":false,"x":386,"y":209,"wires":[["91b1ab3.73a5c58"]]},{"id":"c2a4255e.869608","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"cd0461f5.bdc44","order":1,"width":0,"height":0,"passthru":false,"label":"canzoni","tooltip":"","color":"","bgcolor":"","icon":"","payload":"canzoni","payloadType":"str","topic":"","x":89.21427917480469,"y":390.0000228881836,"wires":[["548a2dd2.aa35f4"]]},{"id":"ac704c5a.485b2","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"cd0461f5.bdc44","order":2,"width":0,"height":0,"passthru":false,"label":"macchine","tooltip":"","color":"","bgcolor":"","icon":"","payload":"macchine","payloadType":"str","topic":"","x":89.21427917480469,"y":431.00002431869507,"wires":[["548a2dd2.aa35f4"]]},{"id":"b7a7ecc.50c691","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"cd0461f5.bdc44","order":3,"width":0,"height":0,"passthru":false,"label":"animali","tooltip":"","color":"","bgcolor":"","icon":"","payload":"animali","payloadType":"str","topic":"","x":90.21427917480469,"y":475.00009536743164,"wires":[["548a2dd2.aa35f4"]]},{"id":"f1f26ead.fe2d","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"cd0461f5.bdc44","order":4,"width":0,"height":0,"passthru":false,"label":"frutta","tooltip":"","color":"","bgcolor":"","icon":"","payload":"frutta","payloadType":"str","topic":"","x":83.21427917480469,"y":515.0000972747803,"wires":[["548a2dd2.aa35f4"]]},{"id":"d95f0847.d56ba8","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"cd0461f5.bdc44","order":5,"width":0,"height":0,"passthru":false,"label":"parenti","tooltip":"","color":"","bgcolor":"","icon":"","payload":"parenti","payloadType":"str","topic":"","x":86.21440124511719,"y":552.0002670288086,"wires":[["548a2dd2.aa35f4"]]},{"id":"cf7adbcf.dfd7a8","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"cd0461f5.bdc44","order":6,"width":0,"height":0,"passthru":false,"label":"vestiti","tooltip":"","color":"","bgcolor":"","icon":"","payload":"vestiti","payloadType":"str","topic":"","x":86.21430206298828,"y":592.0002670288086,"wires":[["548a2dd2.aa35f4"]]},{"id":"d6022580.79f828","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"cd0461f5.bdc44","order":7,"width":0,"height":0,"passthru":false,"label":"oggetti","tooltip":"","color":"","bgcolor":"","icon":"","payload":"oggetti","payloadType":"str","topic":"","x":84.21430206298828,"y":629.000337600708,"wires":[["548a2dd2.aa35f4"]]},{"id":"d769139c.4c59a","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"cd0461f5.bdc44","order":8,"width":0,"height":0,"passthru":false,"label":"azioni","tooltip":"","color":"","bgcolor":"","icon":"","payload":"azioni","payloadType":"str","topic":"","x":82.21430206298828,"y":666.0003719329834,"wires":[["548a2dd2.aa35f4"]]},{"id":"cabaef97.d8f72","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"cd0461f5.bdc44","order":9,"width":0,"height":0,"passthru":false,"label":"cibi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"cibi","payloadType":"str","topic":"","x":80.21440124511719,"y":709.0003795623779,"wires":[["548a2dd2.aa35f4"]]},{"id":"beec6346.c036c","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"cd0461f5.bdc44","order":10,"width":0,"height":0,"passthru":false,"label":"luoghi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"luoghi","payloadType":"str","topic":"","x":85.07152557373047,"y":748.00022315979,"wires":[["548a2dd2.aa35f4"]]},{"id":"c3a04770.2a4328","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"cd0461f5.bdc44","order":11,"width":0,"height":0,"passthru":false,"label":"cartoni","tooltip":"","color":"","bgcolor":"","icon":"","payload":"cartoni","payloadType":"str","topic":"","x":84.21430206298828,"y":789.000244140625,"wires":[["548a2dd2.aa35f4"]]},{"id":"acc41da3.634a1","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"cd0461f5.bdc44","order":13,"width":0,"height":0,"passthru":false,"label":"shaun nipotina","tooltip":"","color":"","bgcolor":"","icon":"","payload":"shaunnipotina","payloadType":"str","topic":"","x":108.21430969238281,"y":830.0002250671387,"wires":[["548a2dd2.aa35f4"]]},{"id":"f3bb0d39.cb05c","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"cd0461f5.bdc44","order":14,"width":0,"height":0,"passthru":false,"label":"shaun calcio","tooltip":"","color":"","bgcolor":"","icon":"","payload":"shauncalcio","payloadType":"str","topic":"","x":94.21430206298828,"y":869.0003719329834,"wires":[["548a2dd2.aa35f4"]]},{"id":"83eabfb9.a7168","type":"join","z":"adaf74de.2811a8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":464.21430587768555,"y":619.571457862854,"wires":[["29daae2e.4cc872","7022afcb.7607"]]},{"id":"bc8b5f99.f91ec","type":"ui_text_input","z":"adaf74de.2811a8","name":"","label":"","tooltip":"","group":"ecd3cf2b.042b2","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":90,"y":960,"wires":[["83eabfb9.a7168"]]},{"id":"29daae2e.4cc872","type":"ui_text","z":"adaf74de.2811a8","group":"ecd3cf2b.042b2","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"col-center","x":457.2143039703369,"y":301.4285945892334,"wires":[]},{"id":"7022afcb.7607","type":"mqtt out","z":"adaf74de.2811a8","name":"","topic":"prova/tvon","qos":"","retain":"","broker":"82c95c31.ad41d","x":648.2142906188965,"y":614.0000247955322,"wires":[]},{"id":"7018fc54.5189a4","type":"mqtt in","z":"adaf74de.2811a8","name":"","topic":"prova/radio","qos":"0","datatype":"auto","broker":"82c95c31.ad41d","x":106.21429061889648,"y":140.00000858306885,"wires":[["cc6def98.e30a1","ad639c6b.5ac0e"]]},{"id":"cc6def98.e30a1","type":"ui_text","z":"adaf74de.2811a8","group":"ecd3cf2b.042b2","order":3,"width":0,"height":0,"name":"","label":"messaggio","format":"{{msg.payload}}","layout":"col-center","x":438.2142791748047,"y":135.42857360839844,"wires":[]},{"id":"548a2dd2.aa35f4","type":"function","z":"adaf74de.2811a8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":245.21429443359375,"y":597.0001544952393,"wires":[["83eabfb9.a7168","29daae2e.4cc872","7022afcb.7607"]]},{"id":"ad639c6b.5ac0e","type":"switch","z":"adaf74de.2811a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2p","vt":"str"},{"t":"eq","v":"3p","vt":"str"},{"t":"eq","v":"4p","vt":"str"},{"t":"eq","v":"5p","vt":"str"},{"t":"eq","v":"6p","vt":"str"},{"t":"eq","v":"7p","vt":"str"},{"t":"eq","v":"8p","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":245.21429443359375,"y":674.0000305175781,"wires":[["83eabfb9.a7168"],["83eabfb9.a7168"],["83eabfb9.a7168"],["83eabfb9.a7168"],["83eabfb9.a7168"],["83eabfb9.a7168"],["83eabfb9.a7168"]]},{"id":"f23d5ee.850d3a","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"b1169f21.d12bb","order":2,"width":0,"height":0,"passthru":false,"label":"chiudi scheda","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"e","payloadType":"str","topic":"","x":492.21429443359375,"y":679.0000324249268,"wires":[["7022afcb.7607","b5057f20.d0033"]]},{"id":"63130183.431f4","type":"mqtt out","z":"9d949c62.ad443","name":"","topic":"prova/tvon","qos":"","retain":"","broker":"82c95c31.ad41d","x":686.3571166992188,"y":254.00004959106445,"wires":[]},{"id":"8c791e6f.d4aa6","type":"mqtt out","z":"9d949c62.ad443","name":"","topic":"test/reactions","qos":"","retain":"","broker":"82c95c31.ad41d","x":674.9285888671875,"y":36.42863464355469,"wires":[]},{"id":"da8b0d6f.0d229","type":"ui_button","z":"9d949c62.ad443","name":"","group":"b1169f21.d12bb","order":6,"width":0,"height":0,"passthru":false,"label":"puls. tutti attivi","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"0","payloadType":"str","topic":"","x":690.2143020629883,"y":84.42860221862793,"wires":[["8c791e6f.d4aa6"]]},{"id":"ea5d0d79.740d5","type":"ui_button","z":"9d949c62.ad443","name":"","group":"b1169f21.d12bb","order":3,"width":0,"height":0,"passthru":false,"label":"chiudi google","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"o","payloadType":"str","topic":"","x":685.2142944335938,"y":210.42863655090332,"wires":[["63130183.431f4"]]},{"id":"81f398b2.8ed418","type":"ui_button","z":"9d949c62.ad443","name":"","group":"b1169f21.d12bb","order":4,"width":0,"height":0,"passthru":false,"label":"reset tel","tooltip":"","color":"","bgcolor":"purple","icon":"","payload":"x","payloadType":"str","topic":"","x":670.2143020629883,"y":119.42858600616455,"wires":[["8c791e6f.d4aa6"]]},{"id":"35e1e87.200e718","type":"function","z":"9d949c62.ad443","name":"funzione","func":"var stato\nstato = context.get('stato')|| false\nvar aperto = \"aperto\"\nvar chiuso = \"chiuso\"\nif (msg.payload === aperto ){ \n    stato = false;\n}\nif (msg.payload === chiuso ){ \n    stato = true;\n}\nif (msg.payload === \"1\" && stato === false){ \n        msg.payload = \"uno\";\n}\nif (msg.payload === \"2\" && stato === false){ \n        msg.payload = \"due\";\n}\nif (msg.payload === \"3\" && stato === false){ \n        msg.payload = \"tre\";\n}\nif (msg.payload === \"4\" && stato === false){ \n        msg.payload = \"quattro\";\n}\nif (msg.payload === \"5\" && stato === false){ \n        msg.payload = \"cinque\";\n}\nif (msg.payload === \"6\" && stato === false){ \n        msg.payload = \"sei\";\n}\nif (msg.payload === \"7\" && stato === false){ \n        msg.payload = \"sette\";\n}\nif (msg.payload === \"8\" && stato === false){ \n        msg.payload = \"otto\";\n}\ncontext.set('stato', stato);\nreturn msg;","outputs":1,"noerr":0,"x":230.21429443359375,"y":150.00028800964355,"wires":[["40edd904.de7f58"]]},{"id":"40edd904.de7f58","type":"switch","z":"9d949c62.ad443","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"uno","vt":"str"},{"t":"eq","v":"due","vt":"str"},{"t":"eq","v":"tre","vt":"str"},{"t":"eq","v":"quattro","vt":"str"},{"t":"eq","v":"cinque","vt":"str"},{"t":"eq","v":"sei","vt":"str"},{"t":"eq","v":"sette","vt":"str"},{"t":"eq","v":"otto","vt":"str"}],"checkall":"true","repair":false,"outputs":16,"x":391.2143020629883,"y":136.00021362304688,"wires":[["8c791e6f.d4aa6"],["8c791e6f.d4aa6"],["8c791e6f.d4aa6"],["8c791e6f.d4aa6"],["8c791e6f.d4aa6"],["8c791e6f.d4aa6"],["8c791e6f.d4aa6"],["8c791e6f.d4aa6"],["63130183.431f4"],["63130183.431f4"],["63130183.431f4"],["63130183.431f4"],["63130183.431f4"],["63130183.431f4"],["63130183.431f4"],["63130183.431f4"]]},{"id":"e0a80f46.572a","type":"ui_button","z":"9d949c62.ad443","name":"","group":"56f64217.0f835c","order":1,"width":0,"height":0,"passthru":false,"label":"1","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"1","payloadType":"str","topic":"","x":58.21427917480469,"y":20,"wires":[["35e1e87.200e718"]]},{"id":"aa304e15.41604","type":"ui_button","z":"9d949c62.ad443","name":"","group":"abc7e7db.814a28","order":1,"width":0,"height":0,"passthru":false,"label":"2","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"2","payloadType":"str","topic":"","x":55.21427917480469,"y":55.00000762939453,"wires":[["35e1e87.200e718"]]},{"id":"9d5a41af.e6f0f","type":"ui_button","z":"9d949c62.ad443","name":"","group":"e9948aa5.fee988","order":1,"width":0,"height":0,"passthru":false,"label":"3","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"3","payloadType":"str","topic":"","x":52.21427917480469,"y":92,"wires":[["35e1e87.200e718"]]},{"id":"f4863b87.e3d918","type":"ui_button","z":"9d949c62.ad443","name":"","group":"7c9c307e.225bf","order":1,"width":0,"height":0,"passthru":false,"label":"4","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"4","payloadType":"str","topic":"","x":54.21427917480469,"y":133.00001525878906,"wires":[["35e1e87.200e718"]]},{"id":"ddd6fd68.37902","type":"ui_button","z":"9d949c62.ad443","name":"","group":"5b4c659d.2ddf4c","order":1,"width":0,"height":0,"passthru":false,"label":"5","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"5","payloadType":"str","topic":"","x":56.21427917480469,"y":176.00001525878906,"wires":[["35e1e87.200e718"]]},{"id":"c35ccdd4.54e27","type":"ui_button","z":"9d949c62.ad443","name":"","group":"6a8fa49b.55355c","order":1,"width":0,"height":0,"passthru":false,"label":"6","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"6","payloadType":"str","topic":"","x":55,"y":217.00000953674316,"wires":[["35e1e87.200e718"]]},{"id":"45bb836.9eb437c","type":"ui_button","z":"9d949c62.ad443","name":"","group":"8497a56b.246178","order":1,"width":0,"height":0,"passthru":false,"label":"7","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"7","payloadType":"str","topic":"","x":65.21427917480469,"y":261.0000114440918,"wires":[["35e1e87.200e718"]]},{"id":"3d4421f5.492afe","type":"ui_button","z":"9d949c62.ad443","name":"","group":"7e45eb21.3cf604","order":1,"width":0,"height":0,"passthru":false,"label":"8","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"8","payloadType":"str","topic":"","x":57.21427917480469,"y":304.0000476837158,"wires":[["35e1e87.200e718"]]},{"id":"85b6a179.cc91d","type":"ui_button","z":"9d949c62.ad443","name":"","group":"b1169f21.d12bb","order":5,"width":0,"height":0,"passthru":false,"label":"pulsanti","tooltip":"","color":"black","bgcolor":"yellow","icon":"","payload":"aperto","payloadType":"str","topic":"","x":237.2142791748047,"y":260.00001525878906,"wires":[["35e1e87.200e718"]]},{"id":"a8d2ae20.98133","type":"ui_button","z":"9d949c62.ad443","name":"","group":"b1169f21.d12bb","order":7,"width":0,"height":0,"passthru":false,"label":"blocco","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"chiuso","payloadType":"str","topic":"","x":223.2142791748047,"y":299,"wires":[["35e1e87.200e718"]]},{"id":"6c106a83.7cd614","type":"ui_button","z":"69080eb2.fef45","name":"","group":"f0c12014.35653","order":3,"width":0,"height":0,"passthru":false,"label":"film","tooltip":"","color":"","bgcolor":"","icon":"","payload":"film","payloadType":"str","topic":"","x":87.21427917480469,"y":75,"wires":[["a2d6e409.9fdf58","5d4be76f.206aa8","48a3ad02.e956c4"]]},{"id":"c4579c01.661e1","type":"ui_button","z":"69080eb2.fef45","name":"","group":"f0c12014.35653","order":4,"width":0,"height":0,"passthru":false,"label":"normale","tooltip":"","color":"","bgcolor":"","icon":"","payload":"normale","payloadType":"str","topic":"","x":99.21427917480469,"y":118.0000228881836,"wires":[["a2d6e409.9fdf58","5d4be76f.206aa8","48a3ad02.e956c4"]]},{"id":"cd1a3cca.ee227","type":"ui_text_input","z":"69080eb2.fef45","name":"num","label":"","tooltip":"","group":"f0c12014.35653","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":75.21429443359375,"y":167.4285774230957,"wires":[["5d4be76f.206aa8","b2ae022f.0d6e8"]]},{"id":"6b6dd0c4.d57b6","type":"exec","z":"69080eb2.fef45","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":731.2143058776855,"y":117.92857551574707,"wires":[[],[],[]]},{"id":"a2d6e409.9fdf58","type":"join","z":"69080eb2.fef45","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":312.21429443359375,"y":123.42857551574707,"wires":[["9b3d0807.157c98","124f562.a459faa"]]},{"id":"48a3ad02.e956c4","type":"ui_text","z":"69080eb2.fef45","group":"f0c12014.35653","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"col-center","x":477.21430015563965,"y":56.42857360839844,"wires":[]},{"id":"5d4be76f.206aa8","type":"join","z":"69080eb2.fef45","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":308.21429443359375,"y":60.42857360839844,"wires":[["48a3ad02.e956c4"]]},{"id":"b2ae022f.0d6e8","type":"function","z":"69080eb2.fef45","name":"p.py","func":"msg.payload = msg.payload + \"p.py\"\nreturn msg;","outputs":1,"noerr":0,"x":102.21429443359375,"y":215.42859554290771,"wires":[["a2d6e409.9fdf58"]]},{"id":"2acb1ac2.963cf6","type":"mqtt out","z":"69080eb2.fef45","name":"","topic":"prova/tvon","qos":"","retain":"","broker":"82c95c31.ad41d","x":755.5000190734863,"y":177.00002479553223,"wires":[]},{"id":"9b3d0807.157c98","type":"delay","z":"69080eb2.fef45","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":120,"wires":[["6b6dd0c4.d57b6"]]},{"id":"124f562.a459faa","type":"trigger","z":"69080eb2.fef45","op1":"e","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"e","x":599.5000152587891,"y":177.00002479553223,"wires":[["2acb1ac2.963cf6","79547e49.4d0fd"]]},{"id":"5c13978c.b83c28","type":"ui_button","z":"69080eb2.fef45","name":"","group":"f0c12014.35653","order":5,"width":0,"height":0,"passthru":false,"label":"gioco delle forme","tooltip":"","color":"","bgcolor":"","icon":"","payload":"formevocaliv2.py","payloadType":"str","topic":"","x":383.2143096923828,"y":180.00002670288086,"wires":[["9b3d0807.157c98","124f562.a459faa","11b95a63.f2fb86"]]},{"id":"79547e49.4d0fd","type":"mqtt out","z":"69080eb2.fef45","name":"","topic":"gioco/forme/trasmetto","qos":"","retain":"","broker":"82c95c31.ad41d","x":788.6428375244141,"y":229,"wires":[]},{"id":"b5057f20.d0033","type":"mqtt out","z":"adaf74de.2811a8","name":"","topic":"gioco/forme/trasmetto","qos":"","retain":"","broker":"82c95c31.ad41d","x":713.7857055664062,"y":681,"wires":[]},{"id":"6a46596.e3618a8","type":"ui_button","z":"69080eb2.fef45","name":"","group":"f0c12014.35653","order":6,"width":0,"height":0,"passthru":false,"label":"google","tooltip":"","color":"","bgcolor":"","icon":"","payload":"googlev2.py","payloadType":"str","topic":"","x":634.2143020629883,"y":23.428603172302246,"wires":[["6b6dd0c4.d57b6","a4d1c04d.9997a"]]},{"id":"84ead06f.123b4","type":"ui_button","z":"69080eb2.fef45","name":"","group":"f0c12014.35653","order":6,"width":0,"height":0,"passthru":false,"label":"cartoni5p","tooltip":"","color":"","bgcolor":"","icon":"","payload":"cartoni5p.py","payloadType":"str","topic":"","x":392.6428756713867,"y":339.0000476837158,"wires":[["9b3d0807.157c98","124f562.a459faa","f8d7629b.866ca"]]},{"id":"a4d1c04d.9997a","type":"trigger","z":"69080eb2.fef45","op1":"google","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"google","x":623.5000152587891,"y":68.0000114440918,"wires":[["48a3ad02.e956c4"]]},{"id":"11b95a63.f2fb86","type":"trigger","z":"69080eb2.fef45","op1":"gioco delle forme","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"forme","x":349.50000762939453,"y":230.00006103515625,"wires":[["48a3ad02.e956c4"]]},{"id":"f8d7629b.866ca","type":"trigger","z":"69080eb2.fef45","op1":"cartoni","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"cartoni","x":399.50001525878906,"y":381.00008392333984,"wires":[["48a3ad02.e956c4"]]},{"id":"edc68409.63ca68","type":"ui_button","z":"69080eb2.fef45","name":"a","group":"c229695f.a36d98","order":1,"width":0,"height":0,"passthru":false,"label":"a","tooltip":"","color":"","bgcolor":"","icon":"","payload":"primo","payloadType":"str","topic":"","x":93.21427917480469,"y":375.42857360839844,"wires":[["1f1cd588.b2001a","4d5b3c66.61f9f4"]]},{"id":"4ec5deb8.599f4","type":"ui_button","z":"69080eb2.fef45","name":"chiudi gioco","group":"c229695f.a36d98","order":6,"width":0,"height":0,"passthru":false,"label":"chiudi gioco","tooltip":"","color":"","bgcolor":"","icon":"","payload":"e","payloadType":"str","topic":"","x":372.2143096923828,"y":276.42859077453613,"wires":[["79547e49.4d0fd"]]},{"id":"30a1c128.14f24e","type":"ui_button","z":"69080eb2.fef45","name":"u","group":"c229695f.a36d98","order":5,"width":0,"height":0,"passthru":false,"label":"u","tooltip":"","color":"","bgcolor":"","icon":"","payload":"quinto","payloadType":"str","topic":"","x":104.21430206298828,"y":725.4286041259766,"wires":[["fcde0556.0d3678","4d5b3c66.61f9f4"]]},{"id":"af048ba3.125188","type":"ui_button","z":"69080eb2.fef45","name":"o","group":"c229695f.a36d98","order":4,"width":0,"height":0,"passthru":false,"label":"o","tooltip":"","color":"","bgcolor":"","icon":"","payload":"quarto","payloadType":"str","topic":"","x":102.21430206298828,"y":636.4286003112793,"wires":[["362b9706.d3e748","4d5b3c66.61f9f4"]]},{"id":"80cf6a3f.540f18","type":"ui_button","z":"69080eb2.fef45","name":"i","group":"c229695f.a36d98","order":3,"width":0,"height":0,"passthru":false,"label":"i","tooltip":"","color":"","bgcolor":"","icon":"","payload":"terzo","payloadType":"str","topic":"","x":97.21429824829102,"y":549.4285984039307,"wires":[["61f0b3f1.89781c","4d5b3c66.61f9f4"]]},{"id":"bc644927.a31aa8","type":"ui_button","z":"69080eb2.fef45","name":"e","group":"c229695f.a36d98","order":2,"width":0,"height":0,"passthru":false,"label":"e","tooltip":"","color":"","bgcolor":"","icon":"","payload":"secondo","payloadType":"str","topic":"","x":93.21429824829102,"y":458.42859745025635,"wires":[["d4de770d.5e9138","4d5b3c66.61f9f4"]]},{"id":"60907cb9.15f334","type":"function","z":"69080eb2.fef45","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":354.2142906188965,"y":549.4286003112793,"wires":[["36f171f8.d21c5e"]]},{"id":"1f1cd588.b2001a","type":"trigger","z":"69080eb2.fef45","op1":"A","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"A","x":93.21427917480469,"y":415.4285888671875,"wires":[["60907cb9.15f334"]]},{"id":"4d5b3c66.61f9f4","type":"function","z":"69080eb2.fef45","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":346.2143020629883,"y":498.42859268188477,"wires":[["2acb1ac2.963cf6"]]},{"id":"d4de770d.5e9138","type":"trigger","z":"69080eb2.fef45","op1":"E","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"E","x":98.21427917480469,"y":501.42859268188477,"wires":[["60907cb9.15f334"]]},{"id":"61f0b3f1.89781c","type":"trigger","z":"69080eb2.fef45","op1":"I","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"I","x":100.21427917480469,"y":592.428596496582,"wires":[["60907cb9.15f334"]]},{"id":"362b9706.d3e748","type":"trigger","z":"69080eb2.fef45","op1":"O","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"O","x":103.21427917480469,"y":683.4286003112793,"wires":[["60907cb9.15f334"]]},{"id":"fcde0556.0d3678","type":"trigger","z":"69080eb2.fef45","op1":"U","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"U","x":105.21427917480469,"y":770.4286060333252,"wires":[["60907cb9.15f334"]]},{"id":"36f171f8.d21c5e","type":"ui_text","z":"69080eb2.fef45","group":"c229695f.a36d98","order":6,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"col-center","x":502.2142791748047,"y":548.4285888671875,"wires":[]},{"id":"e05a1b73.69be78","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"b1169f21.d12bb","order":1,"width":0,"height":0,"passthru":false,"label":"stop video","tooltip":"","color":"","bgcolor":"pink","icon":"","payload":"q","payloadType":"str","topic":"","x":500,"y":740,"wires":[["7022afcb.7607"]]},{"id":"18341f66.b5ea31","type":"ui_button","z":"adaf74de.2811a8","name":"","group":"cd0461f5.bdc44","order":12,"width":0,"height":0,"passthru":false,"label":"colori","tooltip":"","color":"","bgcolor":"","icon":"","payload":"colori","payloadType":"str","topic":"","x":80,"y":920,"wires":[["548a2dd2.aa35f4"]]},{"id":"1f0db6fa.ad07c9","type":"keypress","z":"f3591a0f.988bf8","key":"","x":100,"y":80,"wires":[["b8a02b5e.099518"]]},{"id":"40185dd8.2531e4","type":"debug","z":"f3591a0f.988bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":240,"wires":[]},{"id":"b8a02b5e.099518","type":"function","z":"f3591a0f.988bf8","name":"","func":"var testo = [\"w\",\"a\",\"s\",\"d\",\"x\"];\nvar stadio1 = false;\nvar stadio2 = false;\nvar stadio3 = false;\nvar stadio4 = false;\nvar controllo;\nvar payload = msg.payload.key;\nvar stato1 = false;\nvar x = \"x\";\nstato1 = context.get('stato1')||false;\nstadio1 = context.get('stadio1')||false;\nstadio2 = context.get('stadio2')||false;\nstadio3 = context.get('stadio3')||false;\nstadio4 = context.get('stadio4')||false;\nif (msg.payload === x ){ \n    stato1 = true;\n}\nif (msg.payload === \"0\" ){ \n    stadio1 = false;\n    stadio2 = false;\n    stadio3 = false;\n    stadio4 = false;\n}\nif (msg.payload === \"1\" ){ \n    stadio1 = false;\n    stadio2 = true;\n    stadio3 = true;\n    stadio4 = true;\n}\nif (msg.payload === \"2\" ){ \n    stadio1 = true;\n    stadio2 = false;\n    stadio3 = true;\n    stadio4 = true;\n}\nif (msg.payload === \"3\" ){ \n    stadio1 = true;\n    stadio2 = true;\n    stadio3 = false;\n    stadio4 = true;\n}\nif (msg.payload === \"4\" ){ \n    stadio1 = true;\n    stadio2 = true;\n    stadio3 = true;\n    stadio4 = false;\n}\nif (stato1 === true){\n   if (payload == \"w\" && stadio1 === false ){ \n        msg.payload = \"uno\";\n        stato1 = false;\n    }\n   if (payload == \"a\" && stadio2 === false){ \n        msg.payload = \"due\";\n        stato1 = false;\n    }\n   if (payload == \"s\" && stadio3 === false){ \n        msg.payload = \"tre\";\n        stato1 = false;\n    }\n   if (payload == \"d\" && stadio4 === false){ \n        msg.payload = \"quattro\";\n        stato1 = false;\n    }\n}\nelse{\n    msg.payload = \"telecomando bloccato\";\n}\nif (payload in testo){\n    controllo = true;\n}\nelse{\n    contollo = false;\n}\nif (controllo === false){\n    msg.payload = \"comando sconosciuto\";\n}\ncontext.set('stato1', stato1);\ncontext.set('stadio1', stadio1);\ncontext.set('stadio2', stadio2);\ncontext.set('stadio3', stadio3);\ncontext.set('stadio4', stadio4);\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":100,"wires":[["40185dd8.2531e4","13eacc02.247d04"]]},{"id":"b1b29430.289f98","type":"mqtt in","z":"f3591a0f.988bf8","name":"","topic":"test/reactions","qos":"0","datatype":"auto","broker":"82c95c31.ad41d","x":120,"y":140,"wires":[["b8a02b5e.099518"]]},{"id":"57503af5.0155b4","type":"mqtt out","z":"f3591a0f.988bf8","name":"","topic":"prova/tvon","qos":"","retain":"","broker":"82c95c31.ad41d","x":550,"y":80,"wires":[]},{"id":"13eacc02.247d04","type":"switch","z":"f3591a0f.988bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"uno","vt":"str"},{"t":"eq","v":"due","vt":"str"},{"t":"eq","v":"tre","vt":"str"},{"t":"eq","v":"quattro","vt":"str"},{"t":"eq","v":"cinque","vt":"str"},{"t":"eq","v":"sei","vt":"str"},{"t":"eq","v":"sette","vt":"str"},{"t":"eq","v":"otto","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":390,"y":100,"wires":[["57503af5.0155b4"],["57503af5.0155b4"],["57503af5.0155b4"],["57503af5.0155b4"],["57503af5.0155b4"],["57503af5.0155b4"],["57503af5.0155b4"],["57503af5.0155b4"]]}]